.scroll{
  width:430px;
  overflow: auto;
}
.xcon{

  border-width:1px;
  border-style:solid;
  height:100px;
  border-radius:2px;
  border-color:rgb(211, 211, 211);
  background-color: rgb(247, 247, 247);
}
.mini{
  margin: 10px;
  text-align: center;
  height:30px;
  width: 150px;
  border-width:1px;
  border-style:solid;
  border-radius:10px;
  border-color:rgb(211, 211, 211);
  background-color: rgb(175, 175, 175);
}
.con1{
  border-width:1px;border-style:solid; border-radius: 2px;border-color:rgb(211, 211, 211);background-color: rgb(247, 247, 247);
}
.qcon{
   margin-top: -30px; margin: 0px; height: 25px; border:0px; border-top: 1px; border-style:solid; width: 400px; border-color:rgb(211, 211, 211);
}
.q1con{
  margin-top: -30px; margin: 0px; height: 25px; border:0px;
}
.vau{
  width: 300px;margin-left: 5px;
}
.bicon{
  margin-top: 30px; border-width:1px;border-style:solid; height: 185px; border-radius: 2px;border-color:rgb(211, 211, 211);background-color: rgb(247, 247, 247);
}
.bcon{
  margin-top:-40px; border:0px; border-top: 1px; border-style:solid; width: 400px; border-color:rgb(211, 211, 211);
}
.boldp{
  margin-top: 5px;
  font-weight: bold;
  margin-left: 10px;
}
.par{
  float: right;
  margin-right: 30px;
  padding-right: 30px;
}
.per{
   margin-top:-5px; margin-left:10px;
}
.a{
  font-weight: bold;
  width: 10px;
  text-align: center;
}
.b{
  margin-left: 30px;
}
.c{
  margin-left: 0px;
}

.but{
  width: 100px; top:19px; left: 270px;padding-left: 30px;
}
.ap{
   top: 8px; left: 10px; font-size: 11px;
}
.aa{
  color:rgb(165, 165, 165);
}
.check{
  margin: 1px;
  padding: 10px;
}
.res{
  padding: 10px;
}
.panel{

}
