<div class="scroll">
<a routerLink="add" class="btn btn-sm btn-success mb-2">Sūtīt uz CCB</a>
<div style="position: relative; width:400px; height: 650px;">
<table>
    <tbody>
        <tr *ngFor="let user of users">
            <div class="xcon" >

                    <p class="a">28</p><p class="b">LĒMUMS</p>
                    <p class="c">mai</p><p class="d">BERTA0L0000005</p>
                    <a class="but">
                    <button class="but" class="btn btn-sm btn-primary mr-1">
                      <span *ngIf="!user.isDeleting">Digitalizēts</span>
                    </button>
                    </a>
                    <br>

                    <div class="bcon">
                    <p class="ap"><a class="aa">Iesūtija : </a><a style="position: relative;">Illmars Birzleja</a></p>
                    </div>

            </div>

            <div class="bicon">
              <input type="checkbox"> <p class="vau" >Nodot piespiedu izpildīšanai</p>
              <div class="qcon" style="top:-35px;">
              <input type="checkbox"> <p class="vau" >Paziņojums pieteicējeam</p>
              </div>
              <div class="qcon" style="top:-75px;">
              <input type="checkbox"> <p class="vau" >Paziņojums tiesai</p>
              </div>
              <div class="qcon" style="top:-115px;">
              <input type="checkbox"> <p class="vau" >Atteikt pieņemt</p>
              </div>
              <div class="qcon" style="top:-155px;">
              <input type="checkbox"> <p class="vau" >Apturēt izpildu lietvedību</p>
              </div>
              <div class="qcon" style="top:-195px;">
              <input type="checkbox"> <p class="vau" >Izbeigt tiesvedību</p>
              </div>
              <div class="qcon" style="top:-235px;">
              <input type="checkbox"> <p class="vau" >Attstāt bez izskatīšanas</p>
              </div>
            </div>

          <div style="font-size: 13px;">

            <div class="con1" style="height: 125px;">
              <p class="boldp">Parādnieks</p>
              <p class="per" >personas kods<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Vārds, Uzvārds<a class="par"><input class="info" type="search"></a></p>
            </div>

            <div class="con1" style="height: 160px;">
              <p class="boldp">Lēmums</p>
              <p class="per" >Lietas Nr.<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Vieta<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Datums<a class="par"><input class="info" type="search"></a></p>
            </div>

            <div class="con1" style="height: 200px;">
              <p class="boldp">Konstatēja</p>
              <p class="per" >Līguma Nr.<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Līguma datums<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Parāda summa<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Rēķina valūta<a class="par"><input class="info" type="search"></a></p>
            </div>

            <div class="con1" style="height: 130px;">
              <p class="boldp">Nolēma</p>
              <p class="per" >Tiesa<a class="par"><input class="info" type="search"></a></p>
              <p class="per" >Lēmums<a class="par"><input class="info" type="search"></a></p>
            </div>
            <div class="con1" style="height: 100px;">
              <p class="boldp" style="position: relative;top:5px; font-weight: bold; left:10px;">Paradzētā CCB piezīme</p>
              <p class="per" >Saņemts Zemgales rajona tiesas 20.09.2021 Nr. 3-10/0000/1234</p>
              <p class="per" style="top:-15px;">Lēmums - atteikt pieņemt ACC 40001111111</p>
            </div>
            <div style="height:100px;"></div>

          </div>
          </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
                <!--<a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>-->
                               <!-- <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td> -->

