
<nav class="mininav">
  <h4 style="position: absolute; top: 65px; color: grey; left: 25px; height: 40px;">Ienākošie rēķini</h4>
  <ul style="position: absolute; top: 65px; left: 200px; ">
 <a (click)="reloadCurrentPage()"><img src="..\assets\images\refresh.png" style="height: 27px;"></a>

</ul>
<a style="position: absolute; color: grey; top: 67px; left: 350px;">1 - 10 of 100<i (click)="reloadCurrentPage()" class="left"> < </i><i (click)="reloadCurrentPage()" class="right">></i></a>

</nav>
<!--placeholder-->
<div style="position: absolute;width: 1000px;">
    <ul>
      <input type="checkbox" style="position: absolute; top: 150px;">
      <div style="position: absolute; left: 60px;">
      <a style="position: absolute; top: 135px;">28</a>
      <a style="position: absolute; top: 155px;">May</a>
      </div>
      <img style="position:absolute; top:138px; left:100px;" src="../assets/images/Document_status_digitized.PNG">
      <a  routerLink="/users" routerLinkActive="active" style="position: absolute; left:140px; top: 135px;">BERTA0L0000005</a>
      <p class="at" style="position: absolute; left:140px; top: 155px;">Atteikt Pieņemt</p>
      <p class="lt" style="position: absolute; left:270px; top: 135px;">Lietotājs</p>
      <p style="position: absolute; left:330px; top: 135px;">TBK Lēmums | Ilmārs Brizleja</p>
      <p style="position: absolute; left:270px; top: 155px;">3-10/1000/1234 | 89500000123 | Sierra Alpha | 98.76</p>
    </ul>
</div>
